<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLBVMB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <QLBVMB.Properties.Settings>
            <setting name="qlbvmb" serializeAs="String">
                <value>DESKTOP-N6VGHVB\SQLEXPRESS\SELL_PLANE_TICKET_DATABASE.mdf</value>
            </setting>
        </QLBVMB.Properties.Settings>
    </userSettings>
</configuration>